body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.selected.correct
{
	background-color: #00ff0050;
}

.selected.incorrect
{
	background-color: #ff000050;
}

.option-list 
{
	margin:0;
	padding: 0;
}
